@import "tailwindcss";

@theme {
  --animate-move-x: move-x 0.5s ease-in-out infinite alternate;

  @keyframes move-x {
    0% { transform: translateX(0); }
    100% { transform: translateX(5px); }
  }
}